* {
    margin: 0;
    padding: 0;
}
    
body {
    display: flex;
    background-image: linear-gradient(#ffafcc 50%, #a2d2ff 50%);
    height: 100%;
    flex: 1;
    width: 100%;
}

h1 {
    color: black;
    text-align: center;
    font-family: Bellefair;
    font-size: 36px;
    font-style: normal;
}

